@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* KNAP */
.btn {
  background: linear-gradient(90deg, rgba(83, 201, 238, 1) 0%, rgba(76, 151, 236, 1) 35%, rgba(69, 102, 234, 1) 100%);
  border-radius: 20px;
  border: #DAEE68 4px solid;
  color: #DAEE68;
  cursor: pointer;
  font-weight: 700;
  font-display: swap;
  height: 3.5rem;
  padding: 0 2rem;
}

.btn:hover {
  background: #DAEE68;
  border: #DAEE68 4px solid;
  color: #4C97EC;
}

/* COUNTDOWN */
.countdown {
  display: flex;
}

.countdown .time {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  color: #280D7C;
  margin: 0 15px;
}

.countdown .time div {
  width: 150px;
  height: 100px;
  background-color: #280D7C;
  display: grid;
  place-items: center;
  color: white;
  border-radius: 0.3rem;
  font-size: 36px;
}

p {
  margin: 6px;
}

/* OVERSKRIFTER */
.titlecontainer {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.titletxt {
  color: #DBC2CF;
  /* Fallback */
  text-transform: uppercase;
  -webkit-text-fill-color: #280D7C;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FF0A9D;
  letter-spacing: 3px;
  /* Future-proofing */
  background: linear-gradient(180deg, #FD1995 8.18%, #4E30C5 59.64%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
}

.titleline {
  width: 576px;
  height: 3px;
  background-color: #FD1995;
}